body {
	font-family: Arial, sans-serif;
	background-color: #ccc;
}

.wrapper {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: blue;
}

.container {
	position: relative;
	margin: 0 auto;
	background-image: url(../bg.jpg);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;	
	max-width: 1920px;
	min-height:600px;
	padding-top: 100px;
}

.div-button {
	width: 100%;
	text-align: center;
}

.button {
	background-color: yellow;
	border-radius: 10px;
	border: none;
	width: 150px;
	height: 40px;
	font-size: 20px;
	-webkit-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	transition: background-color 2s ease-out;	
}

.button:hover {
	background-color: green;
}

.button:active {
	background-color: brown;
}

.block {
	margin-top: 50px;
	margin-left: -320px;
	background-color: rgba(22,22,22,0.9);
	width: 400px;
	min-height: 200px;
	height: auto;
	-webkit-transition: margin-left 1s ease-out;
	-moz-transition: margin-left 1s ease-out;
	-o-transition: margin-left 1s ease-out;
	transition: margin-left 1s ease-out;	
}

.block:hover {
	margin-left: 0;
}

.car {
	position: absolute;
	bottom: -45px;
	left: 0;
	height: 30%;
	width:100%;
}

.car img {
	width: 20%;
	height: 100%;
	-webkit-animation-name: drive;
	-moz-animation-name: drive;
	-o-animation-name: drive;
	animation-name: drive;

	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;

	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;

	-webkit-animation-duration: 4s;
	-moz-animation-duration: 4s;
	-o-animation-duration: 4s;
	animation-duration: 4s;

	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.car img:hover {
	animation-play-state: paused;
}

@keyframes drive {
	0% {
		margin-left: 0;
	}

	75% {
		margin-left: 80%;
	}

	100% {
		margin-left: 40%;
	}
}

@-webkit-keyframes drive {
	0% {
		margin-left: 0;
	}

	75% {
		margin-left: 80%;
	}

	100% {
		margin-left: 40%;
	}
}


@-o-keyframes drive {
	0% {
		margin-left: 0;
	}

	75% {
		margin-left: 80%;
	}

	100% {
		margin-left: 40%;
	}
}

@-moz-keyframes drive {
	0% {
		margin-left: 0;
	}

	75% {
		margin-left: 80%;
	}

	100% {
		margin-left: 40%;
	}
}












